# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
project/iar/*
project/mdk/Objects/*
project/mdk/Listings/*
project/mdk/mm32f327x_g8p.uvguix.hhh
build/*
.vscode/*
.eide/*
.cmsis/*
.eide.usr.ctx.json
.clang-format
SeekFree_MM32F327X_G8P_Opensource_Library.code-workspace
